PORT=5000
NODE_ENV=development
MONGO_URI=mongodb://localhost:27017/lucky_seat_db
JWT_SECRET=super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d
COOKIE_EXPIRES_DAYS=7
CLIENT_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
ADMIN_FULL_NAME=Super Admin
ADMIN_PHONE=1234567890
ADMIN_EMAIL=admin@luckyseat.com
ADMIN_PASSWORD=AdminPass123!

# SMTP Email Credentials
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_gmail_app_password
FROM_EMAIL=your_email@gmail.com
FROM_NAME=Lucky Seat Game

# Pusher
PUSHER_APP_ID=your_pusher_app_id
PUSHER_KEY=your_pusher_key
PUSHER_SECRET=your_pusher_secret
PUSHER_CLUSTER=ap2 # (or your cluster)